/*!*************************************
  VS15 Dark
****************************************
  Author: chintsu_kun, holt59, MO2 Team
  Version: VERSION
  Licence: GNU General Public License v3.0 (https://www.gnu.org/licenses/gpl-3.0.en.html)
  Url: https://github.com/nikolay-borzov/modorganizer-themes
****************************************
*/
