@use 'sass:meta';
@use 'sass:map';

@use 'theme-dark';

$color-accent: #009933;
$color-accent-hover: $color-accent;
$color-accent-pressed: #00b33c;
$color-slider-hover-border: #00a838;

@include meta.load-css(
  'base',
  $with:
    map.merge(
      meta.module-variables('theme-dark'),
      (
        'color-accent': $color-accent,
        'color-accent-hover': $color-accent-hover,
        'color-accent-pressed': $color-accent-pressed,
        'color-slider-hover-border': $color-slider-hover-border
      )
    )
);
